<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="SearchModelContext"
          providerName="System.Data.EntityClient"
          connectionString="Provider=.NET Framework Data Provider for SQL Server;AttachDbFilename=C:\Users\subramanya_p1\Documents\GitHub\ArchitectureWorkshop1\UX\App_Data\DomainModel.Search.Context.SearchModelContext.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>